.modal-header-mobile {
  display: none;
  background-color: #FFF;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.modal-mask {
  position: fixed;
  overflow: auto;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  transition: opacity .3s ease;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.modal-wrapper {
  margin: 80px 0;
  &:after {
    content: '';
    height: 80px;
    display: block;
  }
}

.modal-container {
  max-width: 900px;
  margin: 0px auto;
  padding: 20px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -20px 20px;
  padding: 0 20px 18px;
  border-bottom: solid 1px #CCC;
}

.modal-header h3 {
  font-size: 20px;
  margin-top: 0;
  color: #444;
}

.modal-item-container {
  width: 100%;
}


.modal-close {
  width: 24px;
  height: 24px;
  padding: 5px;
  margin: 0 -5px;
  cursor: pointer;
}

.modal-body {
  margin: 20px 0 0;
}

.modal-item-img {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
