
// Borrar
.cssl-nav {
    display: flex;
}
  
$containerWidth: 960px;
$itemsShow: 3;
$itemWidth: 300px;
$margins: 30px;
  
.csslider {
    max-width: 1280px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .cssl-container {
        position: relative;
        margin: auto;
        width: $containerWidth;
        overflow: hidden;
        padding: 10px 20px 20px;
        &:before, &:after{
            z-index: 1;
            content: '';
            position: absolute;
            height: 100%;
            top: 0;
            width: 20px;
        }
        &:before{
            left: 0;
            background-image: linear-gradient(to left, transparent, #F5F5F5)
        }
        &:after{
            right: 0;
            background-image: linear-gradient(to right, transparent, #F5F5F5)
        }
    }
    .cssl-translation {
        display: flex;
        transition: transform .4s cubic-bezier(.19,.63,.44,1.16);
    }

  
    .cssl-card {
        box-shadow: 0 8px 20px 0 rgba(0,0,0,.1);
        border-radius: 8px;
        overflow: hidden;
        width: 280px;
        min-width: 280px;
        // height: 416px;
        margin: 15px;
        background-color: #FFF;
    }
    .cssl-img {
        width: 100%;
        display: block;
    }
  
    .cssl-content {
        padding: 15px 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // height: 116px;
        box-sizing: border-box;        
    }
    .cssl-title {
        font-size: 24px;
        color: #444;
        letter-spacing: -.03em;
        padding-bottom: 5px;
    }
    .cssl-description {
        font-size: 13px;
        color: #888;
    }
    .cssl-subcontent {
        margin: 15px -20px 0;
        border-top: solid 1px #ECECEC;
        padding: 15px 20px 5px;
        display: flex;
        color: #444;
    }
    .cssl-rating {
        font-size: 24px;
        padding-right: 5px;
        font-weight: normal;
    }
    .cssl-icon {
        font-size: 10px;
        margin-left: 3px;
    }
    .cssl-stars {
        display: flex;
        align-items: center;
    }
    .cssl-input {
        display: none;
        @for $i from 1 through 10 {
            @if $i == 1 {
                &.-step#{$i}:checked ~ {
                    .cssl-container {
                        transform: translateX(0);
                    }
                    .cssl-nav .cssl-arrow {
                        &:last-of-type {
                            display: flex;
                            left: 0;
                            transform: rotateZ(180deg);
                        }
                        &:nth-child(2) {
                            display: flex;
                            right: 0;
                        }
                    }
                }
            } @else {
                &.-step#{$i}:checked ~ {
                    .cssl-container .cssl-translation{
                        transform: translateX(calc( -#{ ($i - 1) * ($itemWidth + $margins) }) );
                    }
                    .cssl-nav .cssl-arrow {
                        &:nth-child(#{$i - 1}) {
                            display: flex;
                            left: 0;
                            transform: rotateZ(180deg);
                        }
                        &:nth-child(#{$i + 1}) {
                            display: flex;
                            right: 0;
                        }
                    }
                }
            }
            &.cssl-input:last-of-type:checked ~ {
                .cssl-nav .cssl-arrow {
                    &:first-of-type {
                        display: flex;
                        right: 0;
                    }
                }
            }
        }
    }
}
  