
// Borrar
.cssl-nav {
    display: flex;
}
  
$containerWidth: 960px;
$itemsShow: 3;
$itemWidth: 300px;
$margins: 30px;
  
.csslider {
    max-width: 1240px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .cssl-container {
        position: relative;
        margin: auto;
        width: $containerWidth;
        overflow: hidden;
        padding: 10px 20px 20px;
        &:before, &:after{
            z-index: 1;
            content: '';
            position: absolute;
            height: 100%;
            top: 0;
            width: 20px;
        }
        &:before{
            left: 0;
            background-image: linear-gradient(to left, transparent, #F5F5F5)
        }
        &:after{
            right: 0;
            background-image: linear-gradient(to right, transparent, #F5F5F5)
        }
    }
    .cssl-translation {
        display: flex;
        transition: transform .4s cubic-bezier(.19,.63,.44,1.16);
    }

  
    .cssl-card {
        cursor: pointer;
        position: relative;
        box-shadow: 0 8px 20px 0 rgba(0,0,0,.1);
        border-radius: 8px;
        overflow: hidden;
        width: 280px;
        min-width: 280px;
        margin: 15px;
        background-color: #FFF;
    }
    .cssl-img {
        width: 100%;
        display: block;
    }
  
    .cssl-content {
        padding: 15px 20px 75px;
        box-sizing: border-box;        
    }
    .cssl-title {
        font-size: 24px;
        color: #444;
        letter-spacing: -.03em;
        padding-bottom: 5px;
    }
    .cssl-description {
        font-size: 13px;
        color: #888;
    }
    .cssl-subcontent {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 15px 20px;
        border-top: solid 1px #ECECEC;
        display: flex;
        color: #444;
    }
    .cssl-rating {
        font-size: 24px;
        padding-right: 5px;
        font-weight: normal;
    }
    .cssl-icon {
        font-size: 10px;
        margin-left: 3px;
    }
    
    
}


@media screen and (max-width: 767px){
    body {
        padding: 0;
    }
    .wrapper {
        margin: 32px 0 20px;
        padding: 0;
    }

    .csslider {
        .cssl-card {
            width: 100%;
            margin: 10px 20px;
        }
    }
    .modal-wrapper {
        background-color: #FFF;
        margin: 0;
        &:after {
            content: none;
        }
    }
    .modal-container {
        border-radius: 0;
        box-shadow: none;
    }
    .modal-header-mobile {
        display: flex;
        box-shadow: 0 4px 8px rgba(0,0,0,.1);
        border: none;
        height: 64px;
        margin: 0;
        padding: 0 20px;
    }
    .modal-header-desktop {
        display: none;
    }
    .modal-body {
        margin: 0;
    }

    .-modal {
        padding-top: 64px;
        header {
            display: none;
        }
        .wrapper {
            display: none;
        }
        .modal-mask {
            display: block;
            position: relative;
        }
    }
}

@media screen and (min-width: 768px){
    .modal-header-mobile {
        display: none !important;
    }
}
  